@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
body,
html {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.logo {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin-right: 5%;
}
.App {
  background-color: #f37737;
  min-height: 81.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 3%;
  border-radius: 15px;
}
.control {
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  color: #000;
  width: 246px;
  height: 44px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

::placeholder {
  color: #000;
  opacity: 1;
  font-size: 15px;
  padding-left: 15%;
}

:-ms-input-placeholder {
  color: #000;
  font-size: 15px;
}

::-ms-input-placeholder {
  color: #000;
  font-size: 15px;
}
.fas {
  color: #000;
  font-size: 22px;
}
.control i {
  position: absolute;
}
.icon {
  padding: 19px;
  min-width: 40px;
}
.inputs i {
  position: absolute;
}
.inputs {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.button {
  padding: 4%;
  width: 157px;
  height: 39px;
  color: #000;
  border: none;
  background-color: #fff;
  font-weight: 500;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease-out;
  transition-timing-function: linear;
}
.button:hover {
  background-color: #f5f4f45e;
  transition: all 0.3s ease-in;
  transition-timing-function: linear;
}
.orangeDark {
  background-color: #dc4b2b;
  color: #fff !important;
}
.orangeDark a {
  background-color: #dc4b2b;
  color: #fff !important;
}
.beige {
  background-color: #ed8e5d;
  color: #fff;
}
.beige a {
  background-color: #ed8e5d;
  color: #fff !important;
}
.button:focus {
  outline: none;
  box-shadow: none;
}
.submit {
  align-items: center;
  display: grid;
  justify-content: center;
}
.form {
}
.test {
  margin-bottom: 50% !important;
}
.log {
  margin-bottom: 75%;
}
.dot {
  background-color: #fff;
  color: #000;
  border-radius: 23px;
  width: 32px;
  height: 31px;
  text-align: center;
  font-weight: 800;
  font-size: 21px;
  margin-left: 1%;
  border: none;
  cursor: pointer;
}
.pos {
  display: flex;
  align-items: center;
  width: 100%;
}
.box {
  background-color: #fff;
  width: 93%;
  height: 488px;
  border-radius: 19px;
  margin-top: 10px;
  color: #000
}
.type {
  display: flex;
  padding: 2%;
}

.checked {
  display: flex;
  align-items: center;
  width: 100%;
}

.selection {
  width: 144px;
  height: 33px;
  background-color: #fff;
  color: #000;
  padding-left: 2%;
  border: none;
  border-radius: 30px;
  margin-left: 1%;
  font-weight: 600;
  font-size: 14px;
}
.selection:focus {
  outline: none;
  box-shadow: none;
}
.p-login {
  text-decoration: none;
  color: #fff;
}
.spaced {
  padding: 3.5%;
}

.button a {
  color: #000;
  text-decoration: none;
}
.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide {
  animation: 0.4s cubic-bezier(0.22, 1, 0.36, 1) 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.user {
  width: 47px;
  height: 47px;
  border-radius: 31px;
}
.isLogin {
  display: flex;
  text-align: center;
  margin-left: -10%;
  bottom: 0;
  position: absolute;
}
.text {
  margin-left: 9px;
  margin-block-start: 0.6rem;
}
.position {
  display: flex;
  margin: 2%;
  margin-top: 16%;
}

.error {
  display: flex;
  justify-content: center;
  margin: 25% auto;
  background-color: #f37737;
  width: 30%;
  height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
}
.error-text {
  margin-top: 2%;
}
.error-bg {
  background-color: #f37737;
}