@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

body {
    @apply bg-gray-50 text-white select-none overflow-hidden;
}
.logo {
    @apply flex justify-center items-center p-5 bg-white;
}
.app {
    @apply h-screen max-h-screen bg-orange-500;
}
.container {
    @apply flex justify-center;
}
.connected {
    @apply inline;
}
.image {
}
.login {
}
.logged {
}
.type {
    @apply text-black grid grid-flow-col auto-cols-max;
}
.logout {
}
.button {
}

.loader {
    @apply border-t-orange-500;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
