@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
body,
html {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin-right: 5%;
}

.icon-sub {
  width: 12px;
  height: 10px;
}

.app {
  background-color: #f37737;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.control {
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  color: #000;
  width: 246px;
  height: 44px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.enter {
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  color: #000;
  font-weight: 600;
  outline: none;
  height: 26px;
  width: 75%;
  margin-left: 1%;
  max-width: 155px;
  text-align: center;
}

.islogged {
  padding-left: 44px;
}

::placeholder {
  color: #000;
  opacity: 1;
  font-size: 15px;
  padding-left: 2px;
  justify-content: center;
}

.icon-submit {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
  padding-left: -1px;
}

:-ms-input-placeholder {
  color: #000;
  font-size: 15px;
}

::-ms-input-placeholder {
  color: #000;
  font-size: 15px;
}

.fas {
  color: #000;
  font-size: 22px;
}

.edit {
  font-size: 10px;
  margin-left: -2px;
  color: #fff;
}

.valid {
  border: none;
  border-radius: 30px;
  height: 19px;
  width: 19px;
}

.icon {
  position: absolute;
  left: 15px;
  top: calc(50% - 0.5em);
  min-width: 40px;
}

.icon-auth {
  width: 20px;
  height: 20px;
  fill: #000;
}

::-webkit-scrollbar {
  width: 10px;
  margin-top: -10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  width: 10px;
}
.auth i {
  position: absolute;
}

.auth {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.enter-submit {
  width: 145px;
  color: #000;
  border: none;
  background-color: #fff;
  font-weight: 500;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease-out;
  transition-timing-function: linear;
  max-width: 110px;
}

.button {
  padding: 4%;
  width: 157px;
  height: 39px;
  color: #000;
  border: none;
  background-color: #fff;
  font-weight: 500;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease-out;
  transition-timing-function: linear;
}
.buttons {
  padding: 4%;
  width: 157px;
  height: 39px;
  color: #000;
  border: none;
  background-color: #fff;
  font-weight: 500;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease-out;
  transition-timing-function: linear;
}

.gray {
  background-color: #2a2a2b !important;
  color: #fff !important;
}

.gray a {
  color: #fff !important;
}

.gray:hover {
  background-color: #424244 !important;
}
.p {
  padding-bottom: 1rem;
}
.button:hover {
  background-color: #f5f4f45e;
  transition: all 0.3s ease-in;
  color: #fff;
  transition-timing-function: linear;
}
.buttons:hover {
  background-color: #f5f4f45e;
  transition: all 0.3s ease-in;
  color: #000;
  transition-timing-function: linear;
}
.orange {
  background-color: #dc4b2b;
  color: #fff !important;
}

.orange a {
  color: #fff !important;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.submit {
  align-items: center;
  display: grid;
  justify-content: center;
}

.form {
  position: relative;
}

.center {
  place-content: center;
}

.container {
  display: flex;
  align-items: center;
}

.box {
  background-color: #fff;
  width: 93%;
  border-radius: 19px;
  margin-top: 5%;
  color: #000;
  overflow: hidden;
  overflow-y: auto;
  max-height: 265px;
}
.box-hover {
  width: 93%;
  border-radius: 19px;
  margin-top: 5%;
  color: #000;
  overflow: hidden;
  overflow-y: auto;
  max-height: 265px;
}

.lds-ripple {
  margin: 0 auto;
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;

  justify-content: center;
  align-items: center;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #f37737;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.type {
  padding: 4%;
  margin-left: 7%;
}
.section {
  padding: 4%;
  margin-left: -2%;
  justify-content: center;
  align-self: center;
  display: flex;
  position: relative;
}
td {
  width: 1%;
}

.checked {
  display: flex;
  align-items: center;
  width: 100%;
}

.selection {
  width: 144px;
  height: 39px;
  background-color: #fff;
  color: #000;
  padding-left: 2%;
  border: none;
  border-radius: 30px;
  margin-left: 1%;
  font-weight: 600;
  font-size: 14px;
}

.selection:focus {
  outline: none;
  box-shadow: none;
}

.data {
  display: flex;
  width: 95%;
  position: relative;
  margin-left: 13%;
}

.image {
  border-radius: 100px;
  width: 45px;
  height: 45px;
}

.selected {
  display: flex;
  margin-left: 8%;
}

.login {
  text-decoration: none;
  color: #fff;
}

.spaced {
  padding: 3.5%;
}

.button a {
  color: #000;
  text-decoration: none;
}

.user {
  width: 47px;
  height: 47px;
  border-radius: 31px;
  stroke: #fff;
}

.connected {
  display: flex;
  text-align: center;
  position: absolute;
  top: 3%;
  margin-left: 2%;
}

.logged {
  margin-left: 9px;
  margin-block-start: 0.6rem;
}

.grid {
  display: flex;
  margin: 3%;
  margin-top: 27%;
  margin-left: -10%;
}

table {
  min-width: 290px;
  min-height: 40px;
  display: block;
}

hr {
  margin-block-start: 0.2em;
  border-width: 0.2px;
  margin-inline-start: 0.2em;
  display: flex;
  unicode-bidi: bidi-override;
  background-color: #000;
  border-style: double;
  border-radius: 30px;
  width: 96%;
}

.bold {
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .grid {
    display: flex;
    margin: 3%;
    margin-top: 13%;
  }

  .logged {
    margin-left: 9px;
    margin-block-start: 0.2rem;
  }
  .auth {
    margin: 20% !important;
  }
}
@media (min-width: 1024px) and (max-width: 1380px) {
  .grid {
    display: flex;
    margin: 3%;
    margin-top: 10%;
  }

  .logged {
    margin-left: 9px;
    margin-block-start: 0.2rem;
  }

  .box {
    margin-top: 3%;
  }
}
