@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
body,
html {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.logo {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin-right: 5%;
}

.app {
  background-color: #f37737;
  max-height: 80.8vh;
  min-height: 80.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 3%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}
input {
  text-align: start;
  margin: 0;
}

.control {
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  color: #000;
  width: 246px;
  height: 44px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.enter {
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  color: #000;
  font-weight: 600;
  outline: none;
  height: 26px;
  width: 75%;
  margin-left: 1%;
  max-width: 155px;
}
.islogged {
  padding-left: 44px;
}

::placeholder {
  color: #000;
  opacity: 1;
  font-size: 15px;
  padding-left: 30%;
}

:-ms-input-placeholder {
  color: #000;
  font-size: 15px;
}

::-ms-input-placeholder {
  color: #000;
  font-size: 15px;
}

.fas {
  color: #000;
  font-size: 22px;
}
.edit {
  font-size: 10px;
  margin-left: -1px;
  color: #fff;
}

.valid {
  border: none;
  border-radius: 30px;
  height: 19px;
  width: 19px;
}
.control i {
  position: absolute;
}
.icon {
  position: absolute;
  left: 15px;
  top: calc(50% - 0.5em);
  min-width: 40px;
}
::-webkit-scrollbar {
  width: 10px;
  margin-top: -10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  width: 10px;
}
.auth i {
  position: absolute;
}

.auth {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 20%;
}

.enter-submit {
  width: 145px;
  color: #000;
  border: none;
  background-color: #fff;
  font-weight: 500;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease-out;
  transition-timing-function: linear;
  max-width: 110px;
}

.button {
  padding: 4%;
  width: 157px;
  height: 39px;
  color: #000;
  border: none;
  background-color: #fff;
  font-weight: 500;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease-out;
  transition-timing-function: linear;
}
.link {
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.linked {
  display: flex;
  justify-content: center;
  padding: 10%;
}
.gray {
  background-color: #2a2a2b !important;
  color: #fff !important;
}

.gray:hover {
  background-color: #424244 !important;
}

.button:hover {
  background-color: #f5f4f45e;
  transition: all 0.3s ease-in;
  color: #fff;
  transition-timing-function: linear;
}

.orangeDark {
  background-color: #dc4b2b;
  color: #fff !important;
}

.orangeDark a {
  color: #fff !important;
}

.gray a {
  color: #fff !important;
}

.beige {
  background-color: #ed8e5d;
  color: #fff;
}

.beige a {
  color: #fff !important;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.submit {
  align-items: center;
  display: grid;
  justify-content: center;
}

.form {
  position: relative;
}

.center {
  place-content: center;
}

.dot {
  background-color: #fff;
  color: #000;
  border-radius: 23px;
  width: 37px;
  height: 38px;
  text-align: center;
  font-weight: 800;
  font-size: 21px;
  margin-left: 1%;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.box {
  background-color: #fff;
  width: 93%;
  border-radius: 19px;
  margin-top: 5%;
  color: #000;
  overflow: hidden;
  overflow-y: auto;
  max-height: 265px;
}
.date {
  display: grid;
}

.lds-ripple {
  margin: 0 auto;
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(0, 0, 0);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.testing {
  position: absolute;
  margin: 20px;
  top: 0;
}

.type {
  padding: 4%;
  margin-left: 7%;
}

td {
  width: 1%;
}

.checked {
  display: flex;
  align-items: center;
  width: 100%;
}

.selection {
  width: 144px;
  height: 39px;
  background-color: #fff;
  color: #000;
  padding-left: 2%;
  border: none;
  border-radius: 30px;
  margin-left: 1%;
  font-weight: 600;
  font-size: 14px;
}

.selection:focus {
  outline: none;
  box-shadow: none;
}

.data {
  display: flex;
  width: 95%;
  position: relative;
  margin-left: 13%;
}

.selected {
  display: flex;
  margin-left: 8%;
}

.login {
  text-decoration: none;
  color: #fff;
}

.spaced {
  padding: 3.5%;
}

.button a {
  color: #000;
  text-decoration: none;
}

.fade {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide {
  animation: 0.4s cubic-bezier(0.22, 1, 0.36, 1) 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.user {
  width: 47px;
  height: 47px;
  border-radius: 31px;
}

.connected {
  display: flex;
  text-align: center;
  position: absolute;
  top: 3%;
  margin-left: 2%;
}

.logged {
  margin-left: 9px;
  margin-block-start: 0.6rem;
}

.grid {
  display: flex;
  margin: 3%;
  margin-top: 24%;
}

.error {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.error-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f37737;
  padding: 2%;
  border-radius: 30px;
  color: #fff;
}
table {
  min-width: 290px;
  min-height: 40px;
  display: block;
}
hr {
  margin-block-start: 0.2em;
  border-width: 0.2px;
  margin-inline-start: 0.2em;
  display: flex;
  unicode-bidi: bidi-override;
  background-color: #000;
  border-style: double;
  border-radius: 30px;
  width: 96%;
}
.bold {
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (orientation: portrait) {
  .grid {
    display: flex;
    margin: 3%;
    margin-top: 13%;
  }
  .logged {
    margin-left: 9px;
    margin-block-start: 0.2rem;
  }
  .error {
    width: 70%;
  }
}

@media (min-width: 300px) and (max-width: 660px) {
  .error {
    width: 70%;
  }
}
.moveFromTop {
  -webkit-animation: moveFromTop 0.6s ease both;
  animation: moveFromTop 0.6s ease both;
}
@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.moveToBottom {
  -webkit-animation: moveFromBottom 0.6s ease both;
  animation: moveFromBottom 0.6s ease both;
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
}
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
