@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
body {
  @apply bg-orange-500 text-white select-none overflow-hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loader {
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.notification::before {
  visibility: visible;
  opacity: 1;
}
.notification::after {
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
}
datalist {
  position: absolute;
  max-height: 20em;
  margin-top: 3.5rem;
  @apply border-2 border-opacity-50 border-orange-500 rounded-2xl overflow-x-hidden overflow-y-auto z-50;
}
datalist:focus {
  display: none;
}
datalist option {
  font-size: 0.8em;
  padding: 1rem;
  background-color: #fff;
  cursor: pointer;
}

datalist option:hover,
datalist option:focus {
  @apply bg-orange-400 transition text-white outline-none;
}
.loadData {
  width: 14rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.m-auto {
  margin: 0 auto;
}
.m-auto-zero {
  margin: 0 auto;
}
.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td:nth-child(n + 5),
tr th:nth-child(n + 5) {
  border-radius: 0 0.625rem 0.625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: 0.625rem 0 0 0.625rem;
}
.w-9999 {
  width: 80%;
}

.st0 {
  fill: #fff;
}
.st1 {
  fill: #b5dfea;
}
.st2 {
  opacity: 0.55;
  fill: #90cedd;
}
.st3 {
  fill: #d7f0f9;
}
.st4 {
  fill: #0582c1;
}
.st5 {
  fill: #79c9e8;
}
.st6 {
  fill: #ffbf4d;
}
.st7 {
  fill: #00668e;
}
.st8 {
  fill: #05556d;
}
.st9 {
  fill: #f98d3d;
}
.st10 {
  fill: #ed701b;
}
.st11 {
  fill: none;
}
.st12 {
  fill: #efaa3a;
}
.st13 {
  opacity: 0.29;
  fill: #f98d2b;
}
.st14 {
  fill: #49b4d6;
}
.st15 {
  fill: #ff9f50;
}
.st16 {
  fill: #f77e2d;
}
.st17 {
  opacity: 0.55;
  fill: url(#SVGID_1_);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
